body{
    display: flex; 
    justify-content: center;
}

.container{
    width: 30%; 
    border: solid; 
}

.content{
    border : solid; 
    border-bottom : 0px; 
    text-align : center;
    padding : 10px;
    /* margin-left: auto;
    margin-right: auto;
    width : 30% ; */
}